<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-ig-8">
        <div class="row">
            <div class="col-ig-6 mt-2">
                <input type="text" class="form-control" placeholder="Enter first Name">
            </div>
            <div class="col-ig-6 mt-2">
                <input type="text" class="form-control" placeholder="Enter last Name">
            </div>
            <div class="col-ig-12 mt-2">
                <input type="text" class="form-control" placeholder="Enter Email ID">
            </div>
            <div class="col-ig-12 mt-2">
                <input type="text" class="form-control" placeholder="Enter Mobile">
            </div>
            <div class="col-ig-12">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>
