<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda impedit minus iusto expedita nisi neque maiores, eius itaque adipisci porro accusamus aut inventore modi fugiat aliquam. Necessitatibus, corrupti unde!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ut quae consequatur aut culpa asperiores, nobis officiis, accusantium quia, rem eum? Deserunt quidem nisi perferendis quaerat, provident quas voluptas fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita aliquid unde. Debitis minus omnis quisquam, expedita labore, culpa est molestiae odit exercitationem dicta rerum? Quam, sed magni! Sit, iusto.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, suscipit ipsam. Explicabo a tempora commodi vero sit dolorem hic quae enim? Debitis nam cum ea itaque ab sunt in incidunt!
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum id ipsam debitis velit rem! Rem enim, facere dolores tenetur natus dicta consequatur officia error sit similique ad, velit ullam et.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima esse voluptatibus asperiores officiis, modi debitis maxime, repellendus sapiente autem eum quis omnis dignissimos exercitationem commodi repellat magni vero, molestiae quidem.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione accusantium consectetur veritatis iure praesentium rerum explicabo hic? Reiciendis, suscipit, odit nostrum beatae accusantium, ab eum harum molestiae perferendis dicta assumenda?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cum sunt ipsa, ratione voluptates, minima maiores, ipsum laboriosam dolor pariatur eaque earum rerum iure tempora nesciunt. Aliquid ab cumque distinctio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum perspiciatis delectus voluptate tempora harum veritatis nulla in necessitatibus tempore sint, aliquid, amet ab, reiciendis quas expedita reprehenderit similique vero provident.
        <br/>
    </p>

</div>
